{{ ansible_managed | comment }}

XKBMODEL="{{ user_keyboard_model }}"
XKBLAYOUT="{{ user_keyboard_layout }}"
XKBVARIANT="{{ user_keyboard_variant }}"
XKBOPTIONS="{{ user_keyboard_options }}"
BACKSPACE="{{ user_keyboard_backspace }}"